<%- include ("partials/header") %>
<h1>The <br/> Simpsons</h1>
<div>
  <ul>
    <li>"<%= random[0].quote %>" </li>
    <li> - <%= random[0].character %></li>
  </ul>
</div>
<img src="<%= random[0].image %>">
<%= Date();%>

<%- include ("partials/footer") %>
